body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexaible-container{
    display: flex;
    margin-bottom: 100px;
    
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
    text-transform: uppercase;
}
.box1{
    width: 50%;
    padding-left: 5%;
}
.box1 img{
    width: 80%  ;
}
  /*
p{
   text-align: justify; 
}*/
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 99, 71, 0.87), orange);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
}
.link-button:hover{
    background-image: linear-gradient(rgba(255, 166, 0, 0.883),rgba(255, 99, 71, 0.863));
}
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
  
/* section 02 */

.dream-bg{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 100px;
}
