body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
    text-transform: uppercase;
}
.box1{
    width: 50%;
    padding-left: 5%;
}
.box1 img{
    width: 80%  ;
}
p{
    text-align: justify;
}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 99, 71, 0.87), orange);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    text-transform: uppercase;
}
.link-button:hover{
    background-image: linear-gradient(rgba(255, 166, 0, 0.883),rgba(255, 99, 71, 0.863));
}